# Eclipse metadata and config files to ignore
Java/eclipse-workspace/.metadata/
Java/eclipse-workspace/CoreJava/.settings
Java/eclipse-workspace/CoreJava/bin



# Keep everything else
!Java/eclipse-workspace/CoreJava/src/
!SQL/
!UML/